<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap" rel="stylesheet">
    <title>Document</title>
    <style>
        body {
            height: 100vh;
            font-family: "Dosis", sans-serif;
        }

        main {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }

        h2 {
            font-size: 2rem;
            padding: 0 20px;
            margin: 0;
            background: #fbff28;
            text-align: center;
        }

        .container {
            display: flex;
            flex-direction: column;
            gap: 2em;
            padding: 1em;
        }

        .idea {
            border: 1px solid #ebebeb;
            border-radius: 15px;
            padding: 1em;
        }

        h3 {
            font-size: 1.5rem;
        }

        .card-bottom {
            display: flex;
            justify-content: space-between;
        }
    </style>
</head>
<body>
    <main>
        <div class="container">
            <h2>Bored? We have an idea for you</h3>

            <form action="/" method="post">
                <select name="type" id="type">
                    <option value="any">Random activity</option>
                    <option value="education">education</option>
                    <option value="recreational">recreational</option>
                    <option value="social">social</option>
                    <option value="charity">charity</option>
                    <option value="cooking">cooking</option>
                    <option value="relaxation">relaxation</option>
                    <option value="busywork">busywork</option>
                </select>
                <select name="participants" id="participants">
                    <option value=0>Any number of participants</option>
                    <option value=1>1</option>
                    <option value=2>2</option>
                    <option value=3>3</option>
                    <option value=4>4</option>
                </select>
                <button type="submit">Go</button>
            </form>
            <div class="idea">
                <% if (locals.idea) {%>
                    <h3><%= locals.idea.activity %></h3>
                    <div class="card-bottom">
                        <p><%= locals.idea.type %></p>
                        <p>Recommended for <strong><%= locals.idea.participants %></strong> particpant(s)</p>
                    </div>
                <% } %>
                <% if (locals.error) { %>
                    No activities found!
                <% } %>
            </div>
        </div>
    </main>
</body>
</html>