<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Bored?</h1>
    <h2>We have an idea for you</h3>

    <div>
        <h3><%= locals.idea.activity %></h3>
        <p>Recommended for <%= locals.idea.participants %> particpant(s)</p>
    </div>
</body>
</html>